[build]
  command = "pnpm build"
  functions = "dist"
  publish = "dist"

[build.environment]
  NODE_VERSION = "22"

[dev]
  command = "pnpm dev"
  port = 3000

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
